.app-modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: var(--bs-body-bg);
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10010;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);

    h1,
    h2 {
        color: #333333;
    }

    .btn {
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        border-radius: 4px;
        background-color: #800040;
        color: white;
        border: 1px solid #800040;
        margin: 0 1rem;
    }

    .btn:hover {
        background-color: #9c1458;
        border-color: #9c1458;
    }

    &.search-results {
        top: 5vh;
        width: 60rem;
        left: calc(50% - 30rem);
        min-height: 30rem;
        max-height: 90vh;
        h3,
        h4 {
            position: relative;
            z-index: 1050;
            width: 600px;
            margin: auto;
        }
        .fixed-top {
            margin: auto;
            top: 5vh;
            width: 60rem;
            background-color: #fff;
            &.alert {
                z-index: 1060;
                width: 44rem;
                background-color: var(--bs-alert-bg);
                height: 53px;
            }
        }
        .spinner-border {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
        }
        .select-trans {
            position: relative;
            right: 14px;
        }
    }
}
.search-results-btns {
    .search-results-btn {
        margin-right: 3px;
        float: left;
        .icon {
            cursor: pointer;
            height: 55px;
            line-height: 55px;
            font-size: 55px;
            overflow: hidden;
        }
        &.add-all-results {
            .icon {
                font-size: 61px;
                line-height: 50px;
            }
        }
        .search-tooltip {
            height: 0;
            visibility: hidden;
            margin-top: -4px;
            width: 0;
            margin-left: 5px;
        }
        &:hover {
            .search-tooltip {
                visibility: visible;
            }
        }
        &:last-child {
            float: right;
        }
    }
}

.form-control {
    background-color: #fff;
}
.app-modal-backdrop {
    position: fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
