.side-panel {
    .settings {
        width: 0;
        transition: width 50ms ease;
        .sticky-top {
            overflow-x: hidden;
        }
    }
    &.open {
        .settings {
            width: 25vw;
            max-width: 250px;
        }
        .sticky-top {
            height: 100vh;
            padding-bottom: 15vh;
        }
    }
    .btn-icon {
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 10px;
        text-align: center;
        &:hover {
            svg,
            span {
                filter: invert(60%);
            }
        }
        &.red {
            color: red;
        }
        span {
            font-size: 70px;
            line-height: 60px;
        }
    }
}

.app-btn {
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .app-tooltip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 2rem;
        left: 65px;
        margin: auto;
    }
    &:hover {
        .app-tooltip {
            visibility: visible;
        }
    }
}

.btns {
    .save-wrapper {
        position: relative;
        .confirm-save {
            display: none;
            opacity: 0 50ms ease;
            transition: opacity;
            position: absolute;
            top: 0;
            margin: auto;
            left: 64px;
            width: 200px;
            height: 64px;
            button {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 33px;
                right: 0;
                left: 0;
            }
            &.open {
                display: block;
                opacity: 1;
            }
        }
    }
}

.numOnBtn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 57px;
    text-align: center;
}
