.side-panel {
    .settings {
        width: 0;
        transition: width 50ms ease;
        .sticky-top {
            overflow-x: hidden;
        }
    }
    &.open {
        .settings {
            width: 25vw;
        }
        .sticky-top {
            height: 100vh;
            padding-bottom: 15vh;
        }
    }
    .btn-svg {
        margin-bottom: 10px;
        &:hover {
            svg {
                filter: invert(60%);
            }
        }
    }
}

.btns {
    .save-wrapper {
        position: relative;
        .confirm-save {
            display: none;
            opacity: 0 50ms ease;
            transition: opacity ;
            position: absolute;
            top: 0;
            margin: auto;
            left: 64px;
            width: 200px;
            height: 64px;
            button {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 33px;
                right: 0;
                left: 0;
            }
            &.open {
                display: block;
                opacity: 1;
            }
        }
    }
}
